/* Add a black background color to the top navigation */
.topnav {
  background-color: #121212;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #ebebeb;
  text-align: center;
  padding: 0.8rem 0.8rem;
  text-decoration: none;
  font-size: 1rem;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: #121212;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #990000ff;
  color: white;
}

div .center {
    margin: auto;
    display:table;
}

.confirm-text {
  display: inline;
  margin-right: 0.2rem;
}